:root {
    background-color: #222;
    color: #ccc;
}

attribute,
property {
    color: #83d288;
}

boolean,
link_text,
number {
    color: #ff732e;
}

comment,
punctuation,
punctuation.bracket,
punctuation.delimiter,
punctuation.list_marker {
    color: #666;
}

constant,
label {
    color: #99c7ff;
}

constructor,
enum,
string,
text.literal,
type {
    color: #ff9f5b;
}

emphasis {
    font-style: italic;
}

emphasis.strong,
title {
    font-weight: bold;
}

function {
    color: #bf89ff;
}

keyword,
preproc,
tag {
    color: #ff6b68;
}

link_uri {
    color: #3984f2;
}

operator,
string.escape {
    color: #aaa;
}

variable {
    color: #ccc;
}
