/* Adapted from https://github.com/PyaeSoneAungRgn/github-zed-theme */

:root {
    background-color: #161616;
    color: #fff;
}

boolean,
constant,
constructor,
markup.link.url,
number,
property,
string.special,
string.special.symbol {
    color: #79c0ffff;
}

comment,
comment.documentation {
    color: #9198a1ff;
}

embedded,
keyword,
punctuation.special {
    color: #ff7b72ff;
}

markup.list,
type {
    color: #ffa657ff;
}

function {
    color: #d2a8ffff;
}

operator,
punctuation,
punctuation.bracket,
punctuation.delimiter,
variable {
    color: #f0f6fcff;
}

string,
string.regexp {
    color: #a5d6ffff;
}

markup.italic {
    font-style: italic;
}
markup.bold {
    font-weight: 700;
}
markup.link {
    color: #a5d6ffff;
    font-style: italic;
}

string.escape {
    color: #7ee787ff;
    font-weight: 700;
}
tag {
    color: #7ee787ff;
}
markup.heading {
    color: #79c0ffff;
    font-weight: 700;
}
