:root {
    background-color: #222;
    color: #ccc;
}

attribute,
variable.other.member {
    color: #83d288;
}

constant.builtin.boolean,
markup.link.text,
constant.numeric {
    color: #ff732e;
}

comment,
punctuation,
punctuation.bracket,
punctuation.delimiter,
markup.list {
    color: #666;
}

constant {
    color: #99c7ff;
}

constructor,
string,
type {
    color: #ff9f5b;
}

markup.italic {
    font-style: italic;
}

markup.bold,
markup.heading {
    font-weight: 700;
}

function {
    color: #bf89ff;
}

keyword,
keyword.function,
keyword.storage.type,
tag {
    color: #ff6b68;
}

markup.link.url {
    color: #3984f2;
}

operator,
constant.character.escape {
    color: #aaa;
}

variable {
    color: #ccc;
}
